
.fa{
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    transform:translate(0, 0)
}
.fa-lg{
    font-size:1.33333em;
    line-height:0.75em;
    vertical-align:-15%
}
.fa-2x{
    font-size:2em
}
.fa-3x{
    font-size:3em
}
.fa-4x{
    font-size:4em
}
.fa-5x{
    font-size:5em
}
.fa-fw{
    width:1.28571em;
    text-align:center
}
.fa-ul{
    padding-left:0;
    margin-left:2.14286em;
    list-style-type:none
}
.fa-ul>li{
    position:relative
}
.fa-li{
    position:absolute;
    left:-2.14286em;
    width:2.14286em;
    top:0.14286em;
    text-align:center
}
.fa-li.fa-lg{
    left:-1.85714em
}
.fa-border{
    padding:.2em .25em .15em;
    border:solid 0.08em #eee;
    border-radius:.1em
}
.pull-right{
    float:right
}
.pull-left{
    float:left
}
.fa.pull-left{
    margin-right:.3em
}
.fa.pull-right{
    margin-left:.3em
}
.fa-spin{
    -webkit-animation:fa-spin 2s infinite linear;
    animation:fa-spin 2s infinite linear
}
.fa-pulse{
    -webkit-animation:fa-spin 1s infinite steps(8);
    animation:fa-spin 1s infinite steps(8)
}
@-webkit-keyframes fa-spin{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    100%{
        -webkit-transform:rotate(359deg);
        transform:rotate(359deg)
    }
}
@keyframes fa-spin{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    100%{
        -webkit-transform:rotate(359deg);
        transform:rotate(359deg)
    }
}
.fa-rotate-90{
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg)
}
.fa-rotate-180{
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg)
}
.fa-rotate-270{
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    transform:rotate(270deg)
}
.fa-flip-horizontal{
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    -webkit-transform:scale(-1, 1);
    -ms-transform:scale(-1, 1);
    transform:scale(-1, 1)
}
.fa-flip-vertical{
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform:scale(1, -1);
    -ms-transform:scale(1, -1);
    transform:scale(1, -1)
}
:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical{
    filter:none
}
.fa-stack{
    position:relative;
    display:inline-block;
    width:2em;
    height:2em;
    line-height:2em;
    vertical-align:middle
}
.fa-stack-1x,.fa-stack-2x{
    position:absolute;
    left:0;
    width:100%;
    text-align:center
}
.fa-stack-1x{
    line-height:inherit
}
.fa-stack-2x{
    font-size:2em
}
.fa-inverse{
    color:#fff
}

a.gridder-nav.prev, a.gridder-nav.next {
    display: none;
}

.container-big{
    width:100%;
    margin: 0 auto;
}

.headline{
    text-align:center
}
.paragraph{
    text-align:center;
    color:#000;
    font-family:'Arial', sans-serif;
    font-size:12px
}

.gridder.hasSelectedItem .gridder-list{
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity:0.5
}
.gridder.hasSelectedItem .gridder-list.selectedItem{
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity:100
}
.gridder-list{
    display:inline-block;
    position:relative;
    cursor:pointer;
    width:24%;
}
.gridder-list:nth-child(n){
    margin-bottom:1%;
    margin-right:1%
}
.gridder-list:nth-of-type(4n){
    margin-right:0;
    margin-bottom:0
}

.gridder-list .overlay .title{
    font-weight:800;
    font-size:16px
}
.gridder-list .overlay .description{
    font-weight:300;
    font-size:14px
}
.gridder-list .image{
    background-color:#EEE;
    background-image:url("../images/loading-spin.svg");
    background-size:cover;
    background-position:center;
    height:250px
}
@media only screen and (max-width: 768px){
    .gridder-list{
        width:48%
    }
    .gridder-list .image{
        min-height: 100px;
    }

    .gridder-list:nth-of-type(3n) {
    margin-right: 1%;
    margin-bottom: 1%;
}
}
.gridder-show{
    float:left;
    display:block;
    padding:0px;
    margin-bottom:20px;
    -webkit-box-shadow:inset 0px 0px 20px 5px rgba(0,0,0,0.16);
    -moz-box-shadow:inset 0px 0px 20px 5px rgba(0,0,0,0.16);
    box-shadow:inset 0px 0px 20px 5px rgba(0,0,0,0.16)
}
.gridder-show .description{
    position:absolute;
    top:60px;
    left:0px;
    right:0px;
    text-align:center;
    font-family:Arial, serif;
    font-weight:300;
    font-size:16px;
    width:100%;
    line-height:170%;
    color:#FFF
}
.gridder-show .description h2{
    display:inline-block;
    background:#000;
    color:#FFF;
    padding:5px;
    margin-bottom:5px;
    font-size:60px;
    font-weight:700;
    font-family:'Open Sans', sans-serif
}
.gridder-show .description h3{
    display:inline-block;
    background:#000;
    color:#FFF;
    padding:5px;
    font-size:20px;
    margin-bottom:5px;
    font-weight:300;
    font-family:'Open Sans', sans-serif
}
@media only screen and (max-width: 768px){
    .gridder-show{
        padding:15px
    }
}
.gridder-navigation{
    z-index:1;
    position:absolute;
    top:0px;
    right:0px;
    padding:0px;
    text-align:center
}
.gridder-navigation a{
    background:#FFF;
    display:inline-block;
    padding:15px;
    color:#000;
    text-decoration:none;
    font-size:24px;
    margin-right:0px;
    transition:all .3s ease-in-out
}
.gridder-navigation a:hover{
    background:#000;
    color:#FFF
}
.gridder-navigation a.disabled{
    opacity:0
}
.gridder-expanded-content{
    animation-name:fadeIn;
    animation-duration:.3s;
    animation-fill-mode:both
}
@keyframes fadeIn{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
 